@font-face {
    font-family: 'husansnormal';
    src: url('husans-normal-webfont.woff2') format('woff2'),
         url('husans-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
    font-family: 'husansnormal';
    background-color: #CCC;
    text-align:center;
} 

.bingo-vak {
  position: relative; /* Zet de container als referentie voor de absolute positie van het plaatje */
  float: left;
  width: 78px;
  height: 118px;
  /* border: 1px solid black; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.woord {
  position: relative; /* Zorg dat de tekst onder het plaatje komt */
  z-index: 1; /* Zorg ervoor dat de tekst hoger is dan de achtergrond van het vak */
  /* font-size: 26px; */

  
}

img {
  position: absolute; /* Plaatje positioneren op basis van de container */
  top: 0;
  left: 0;
  width: 118px; /* Vul de gehele container */
  height: 118px;
  z-index: 2; /* Zorg dat het plaatje boven de tekst staat */
  /* opacity: 0.5; /* Maak het plaatje transparant */
  display: none;
}
#bingokaart {
  height: 622px;
  width: 594px;
  margin: 0 auto;
  padding-top: 178px;
  padding-left: 35px;
  padding-right:35px;
  background-image: url(bingokaart.jpg);
  background-repeat: no-repeat;
  margin-bottom:10px;
}
#reset {
  text-transform: uppercase;
  color: #F00;
  font-family: Verdana, Geneva, sans-serif;
  margin-top: 5px;
  padding: 5px;
}
